Repository SnapITSolutions/snapit-hacktoberfest, pull requests merged in 2021-09, with the labels that each got.

#41 Feature: 404 Not Found Page
  src/pages/NotFound/NotFound.jsx
  src/pages/NotFound/NotFound.test.jsx
  src/pages/NotFound/index.jsx
  src/pages/Profile/Profile.jsx
  src/pages/Profile/Profile.test.jsx
  src/router/Router.jsx
Labels: enhancement

#37 Docs: Create Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#44 fix: Delete package-lock.json
  .gitignore
  package-lock.json
Labels: bug

#24 Feature: Setup React Internationalization
  package.json
  src/App.jsx
  src/assets/pumpkin_PNG86719.png
  src/components/AccordionList.jsx
  src/components/AccordionList.test.jsx
  src/components/AuthButton/AuthButton.jsx
  src/components/CountdownTimer/CountdownTimer.jsx
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.test.jsx
  src/contexts/AuthContext.jsx
  src/hooks/useLocale.jsx
  src/lang/en-US.json
  src/lang/es-US.json
  src/pages/FAQ/FAQ.test.jsx
  src/pages/Home/Home.jsx
  src/pages/Home/Home.test.jsx
  src/pages/Information/Information.jsx
  src/pages/Information/Information.test.jsx
  src/pages/Login/Login.jsx
  src/pages/Login/Login.test.jsx
  src/router/PrivateRoute.jsx
  src/router/Router.jsx
  src/utils/constants.js
  src/utils/intl-enzyme-test-helper.js
  yarn.lock
Labels: enhancement

#50 Fix: Move Hamburger Button to the Left
  src/assets/SnapIT-logo.png
  src/assets/SnapIT-logo.svg
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.test.jsx
Labels: enhancement

#48 Image created, stored in GH Packages, pushes to Heroku and deploys
  .github/workflows/ci-pipeline.yml
  .github/workflows/github-packages.yml
  Procfile
  README.md
  static.json
Labels: enhancement, Hacktoberfest

#55 chore: Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement

#60 Updated Heroku Secrets for Connection/Deployment
  .github/workflows/greetings.yml
  README.md
Labels: bug, Hacktoberfest
