Repository SnapITSolutions/snapit-hacktoberfest, pull requests merged in 2021-10, with the labels that each got.

#43 Feature: Sign out/Avatar in Navigation
  src/components/AuthButton/AuthButton.jsx
  src/components/AuthButton/AuthButton.test.jsx
  src/components/AvatarMenu/AvatarMenu.jsx
  src/components/AvatarMenu/AvatarMenu.test.jsx
  src/components/AvatarMenu/index.jsx
  src/components/Navigation/Navigation.jsx
  src/pages/Login/Login.jsx
  src/pages/Login/Login.test.jsx
Labels: enhancement

#59 Fix: Extract Accordion Data into an Array
  src/components/AccordionList.jsx
  src/components/AccordionList/AccordionList.test.jsx
  src/components/AccordionList/AccordionListData.js
  src/lang/en-US.json
  src/lang/es-US.json
Labels: enhancement, Hacktoberfest, hacktoberest-accepted

#76 Fix: fix drawer links
  src/components/Navigation/Navigation.jsx
Labels: Hacktoberfest
